@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'DM Sans', sans-serif;
}

:root {
  --primary-color: #202020;
  --secondary-color: #fafafa;
  --enfasis-primary-color: #000000;
  --enfasis-secondary-color: #ffffff;
  --grey-color: #8f8f8f1a;
  --light-grey-color: #a1a1a1;
  --yellow-color: #FFFF05;
  --0-25r: 0.25rem;
  --0-5r: 0.5rem;
  --0-57r: 0.575rem;
  --0-75r: 0.75rem;
  --0-87r: 0.875rem;
  --0-97r: 0.975rem;
  --0-987r: 0.9875rem;
  --1r: 1rem;
  --1-027r: 1.0275rem;
  --1-07r: 1.075rem;
  --1-17r: 1.175rem;
  --1-27r: 1.275rem;
  --1-48r: 1.4875rem;
  --1-5r: 1.5rem;
  --1-57r: 1.575rem;
  --1-75r: 1.75rem;
  --1-9r: 1.975rem;
  --2r: 2rem;
  --2-57r: 2.575rem;
  --2-7r: 2.75rem;
  --2-9r: 2.975rem;
  --100: 100%;
  --50: 50%;
}

html {
  height: var(--100);
}

::selection {
  color: var(--enfasis-primary-color);
  background: var(--yellow-color);
}

body {
  margin: 0;
  padding: 0;
  min-height: var(--100);
  height: var(--100);
  box-sizing: border-box;
  font-size: var(--1r);
  font-weight: 300;
  line-height: var(--1-5r);
  transition: all 1s ease-in-out;
  background-color: var(--primary-color);
  color: var(--light-grey-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-width: var(--100);
  min-height: var(--100);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--1-9r) var(--1-9r) 0 var(--1-9r);
  height: var(--1-9r);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
  mix-blend-mode: difference;
}

header h1.logo {
  font-size: var(--1-57r);
  line-height: var(--1-57r);
  font-weight: 400;
  letter-spacing: -0.25px;
  color: var(--enfasis-secondary-color);
  mix-blend-mode: difference;
}

nav {
  padding: 0;
  width: var(--50);
  mix-blend-mode: difference;
}

nav.navbar ul.navbar-items-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--2-9r);
}

ul.navbar-items-container li.nav-item {
  padding-top: var(--0-57r);
}

ul.navbar-items-container li.nav-item a,
.menu-trigger {
  color: var(--enfasis-secondary-color);
  font-size: var(--0-97r);
  text-decoration: none;
  font-weight: 300;
}

.menu-trigger {
  display: none;
}

section {
  padding: var(--1-9r);
  width: var(--100);
  min-height: var(--100);
}

section.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 0;
  height: 100dvh;
}

.hero-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: var(--50);
  gap: var(--0-57r);
  padding-bottom: var(--1-57r);
}

.hero-data .hero-profile-img {
  width: calc(var(--50) + 10%);
  border-radius: var(--0-5r);
  border: 1px solid var(--grey-color);
  padding: var(--1-57r);
  text-align: center;
}

.hero-data img {
  width: calc(var(--50) + 10%);
  background-size: contain;
  height: 60%;
}

.hero-data h2.hero-profile-title {
  font-size: var(--1-27r);
  line-height: var(--1-27r);
  letter-spacing: 0.475px;
  font-weight: 400;
  color: var(--enfasis-secondary-color);
}

.hero-data p.hero-profile-text {
  font-size: var(--0-87r);
  line-height: var(--0-97r);
  letter-spacing: 0.275px;
  text-wrap: balance;
  overflow-wrap: break-word;
  hyphens: auto;
  width: calc(var(--50) + 10%);
}

.hero-data a.hero-profile-button,
.profile-about-links-list a {
  background-color: var(--grey-color);
  margin: var(--0-57r) 0;
  padding: var(--0-5r) var(--0-75r);
  border-radius: var(--0-25r);
  font-size: var(--0-87r);
  line-height: var(--0-97r);
  text-decoration: none;
  color: var(--enfasis-secondary-color);
}

.hero-data a.hero-profile-button:hover,
.profile-about-links-list a:hover,
.profile-about-links-list a:hover {
  background-color: var(--enfasis-secondary-color);
  color: var(--primary-color);
  opacity: 1;
}

.intro-mini-footer {
  display: flex;
  justify-content: space-between;
  height: var(--1r);
  width: var(--100);
}

.intro-mini-footer p {
  font-size: var(--0-87r);
  line-height: var(--0-97r);
  letter-spacing: -0.575px;
}

section.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: var(--1-27r);
  padding-top: var(--2-7r);
  background: var(--secondary-color);
  height: 100dvh;
}

#projects {
  border-radius: var(--0-57r) var(--0-57r) 0 0;
}

#works {
  border-radius: 0 0 var(--0-57r) var(--0-57r);
}

section h2.section-title,
section h2.section-title-invert {
  font-size: var(--1-57r);
  line-height: var(--1-57r);
  font-weight: 400;
  letter-spacing: -0.25px;
}

section h2.section-title {
  color: var(--enfasis-secondary-color);
}

section h2.section-title-invert {
  color: var(--primary-color);
}

.projects-list {
  display: grid;
  flex: none;
  gap: var(--1r);
  grid-auto-rows: min-content;
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  grid-template-rows: repeat(2, min-content);
  height: min-content;
  justify-content: center;
  width: var(--100);
  height: var(--100);
  padding: 0;
  position: relative;
}

a.project-link {
  align-content: flex-start;
  align-items: flex-start;
  align-self: start;
  aspect-ratio: .8077777777777778 / 1;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: flex-start;
  justify-self: start;
  padding: 0;
  position: relative;
  text-decoration: none;
  border-radius: var(--0-25r);
  width: var(--100);
  height: var(auto, 15rem);
  color: var(--secondary-color);
  filter: grayscale(0.1) brightness(0.95);
}

a.project-link:hover {
  color: var(--enfasis-secondary-color);
  filter: grayscale(0) brightness(1.1);
}

.project-image {
  width: var(--100);
  height: var(--100);
  border-radius: inherit;
  display: contents;
  pointer-events: none;
}

.project-image img {
  pointer-events: none;
  user-select: none;
  display: block;
  width: var(--100);
  height: var(--100);
  border-radius: inherit;
  object-position: center;
  object-fit: cover;
}

.project-info {
  align-items: flex-start;
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  height: var(--100);
  justify-content: space-between;
  overflow: visible;
  padding: var(--1-27r);
  position: absolute;
  top: 0;
  left: 0;
  width: var(--100);
  opacity: 0;
}

.project-info:hover {
  opacity: 1;
}

.project-info h3.project-title {
  font-size: var(--1-17r);
  line-height: var(--1-17r);
  letter-spacing: 0.375px;
  font-weight: 500;
  color: var(--enfasis-secondary-color);
  text-shadow: #0000003c 1px 1px 2px;
}

.project-info span.project-subtitle {
  display: table;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: var(--0-25r);
  padding: var(--0-25r) var(--0-5r);
  border-radius: var(--0-25r);
  font-size: var(--0-87r);
  line-height: var(--0-97r);
  font-weight: 300;
  color: var(--enfasis-secondary-color);
  text-shadow: none;
}

.project-info-sub {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--0-25r);
  width: var(--100);
  height: var(--100);
  filter: none;
}

.project-info-sub h4.project-category {
  font-size: var(--1-07r);
  line-height: var(--1-07r);
  letter-spacing: 0.075px;
  font-weight: 500;
  color: var(--enfasis-secondary-color);
  text-shadow: #0000003c 1px 1px 2px;
}

.project-info-sub ul.project-tags {
  display: flex;
  flex-direction: row;
  width: var(--100);
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.275rem;
}

.project-info-sub ul.project-tags li {
  background-color: rgba(0, 0, 0, 0.25);
  padding: var(--0-25r) var(--0-5r);
  border-radius: var(--0-25r);
  border: 1px solid #a1a1a1d6;
  font-size: var(--0-87r);
  line-height: var(--0-97r);
  font-weight: 300;
  color: var(--secondary-color);
}

section.profile,
section.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--2-57r);
}

section.profile {
  height: 100dvh;
}

section.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: var(--100);
  height: 45dvh;
}

.profile .profile-about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--0-5r);
  width: var(--100);
  height: var((--50 + 5%));
}

.profile .profile-about-text,
.contact .contact-text {
  font-size: var(--2-57r);
  line-height: 2.525rem;
  letter-spacing: -0.25px;
  color: var(--secondary-color);
  width: var(--50);
  text-indent: var(--2-57r);
}

.contact .contact-text a {
  color: var(--light-grey-color);
  text-decoration: none;
}

.contact .contact-text a:hover {
  text-decoration: underline;
}

.profile-about-links-list,
.experience ul.about-hard-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile-about-links-list {
  gap: var(--0-57r);
  margin-top: var(--0-75r);
}

.profile-about-links-list a {
  border: 1px solid var(--grey-color);
}

.experience ul.about-hard-skills {
  column-gap: var(--2-57r);
  row-gap: var(--0-5r);
}

.experience ul.about-soft-skills li,
.experience ul.about-clients li {
  font-size: var(--0-87r);
  line-height: var(--0-97r);
  padding: var(--0-25r) 0;
}

.experience ul.about-clients li a {
  text-decoration: none;
  color: var(--secondary-color);
}

.experience ul.about-clients li a:hover {
  color: var(--yellow-color);
}

.experience ul.about-clients li a span.client-since {
  color: var(--yellow-color);
  font-weight: 400;
  padding-right: var(--0-25r);
  font-size: 0.775rem;
  vertical-align: middle;

}

.experience {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  gap: var(--1r);
}

.experience h3.about-subtitle {
  font-size: var(--1-027r);
  line-height: var(--1-027r);
  letter-spacing: -0.275px;
  font-weight: 300;
  color: var(--enfasis-secondary-color);
}

.experience ul.about-soft-skills,
.footer-container .footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.275rem;
}

.profile .about-experience {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
  gap: 1.25rem;
  height: calc(var(--50) - 5%);
  width: calc(var(--100) - 25%);
}

.experience ul.about-hard-skills li.hard-skill-item {
  display: flex;
  flex-basis: var(--2r);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--0-25r);
  width: var(--2r);
  height: var(--2r);
  padding: var(--0-25r);
  text-align: center;
}

.experience ul.about-hard-skills li.hard-skill-item img {
  width: var(--100);
  height: auto;
  vertical-align: middle;
}

footer {
  display: flex;
  flex-direction: column;
  width: var(--100);
  padding: var(--1-9r);
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--2-9r);
}

.footer-container .footer-links li a {
  font-size: var(--1r);
  line-height: var(--1r);
  padding: var(--0-5r) 0;
  font-weight: 500;
  color: var(--secondary-color);
  text-decoration: none;
}

.footer-container .footer-links li a:hover {
  color: var(--light-grey-color);
}

ul.footer-links#credits {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: var(--0-5r);
}

.footer-links#credits li {
  font-size: var(--0-87r);
  line-height: var(--0-97r);
  letter-spacing: -0.575px;
  font-weight: 300;
  text-align: end;
  padding-right: var(--0-25r);
}

.footer-links#credits li:first-child::after {
  content: ", ";
  padding-right: 0.025rem;
}

.footer-links#credits li:nth-last-child(2)::after {
  content: ". ";
  padding-right: 0.025rem;
}

/* responsive mobile */

@media (max-width: 809px) and (min-width: 0px) {
  header {
    padding: var(--1-48r) var(--0-987r);
    background-color: var(--primary-color);
    mix-blend-mode: normal;
  }

  nav {
    width: auto;
  }

  nav.navbar ul.navbar-items-container.is-close {
    display: none;
  }

  nav.navbar ul.navbar-items-container.is-open {
    position: absolute;
    top: var(--1-9r);
    left: 0;
    padding: var(--1-48r) var(--0-987r);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--0-87r);
    width: var(--100);
    z-index: 900;
    height: 100dvh;
    background-color: #010101;
  }

  ul.navbar-items-container li.nav-item a {
    font-size: var(--1-9r);
    width: var(--100);
    color: var(--enfasis-secondary-color);
  }

  ul.navbar-items-container li.nav-item a:hover {
    color: #a1a1a1d6;
  }

  .menu-trigger {
    display: flex;
    align-self: flex-end;
    color: var(--secondary-color);
    cursor: pointer;
  }

  .menu-trigger:hover {
    color: var(--yellow-color);
  }

  section {
    padding: var(--1-48r);
  }

  section.intro {
    justify-content: space-between;
    align-items: flex-start;
    height: 95dvh;
  }

  .hero-data {
    width: var(--100);
    gap: 1.0875rem;
  }

  .hero-data .hero-profile-img {
    width: calc(var(--100) - 20%);
  }

  .hero-data img {
    width: calc(var(--100) - 20%);
    height: auto;
    aspect-ratio: 1/1;
  }

  .hero-data h2.hero-profile-title {
    font-size: calc(var(--1-27r) + 0.1rem);
  }

  .hero-data p.hero-profile-text {
    text-wrap: balance;
    width: calc(var(--100) - 10%);
    font-size: var(--1r);
    line-height: 1.2875rem;
  }

  .hero-data a.hero-profile-button,
  .profile-about-links-list a {
    font-size: var(--1r);
  }

  section.projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--1-27r);
    padding: var(--1-75r) var(--0-987r);
    background: var(--secondary-color);
    height: auto;
  }

  .projects-list {
    display: grid;
    flex: none;
    gap: var(--1r);
    grid-auto-rows: min-content;
    grid-template-columns: repeat(1, minmax(10rem, 1fr));
    grid-template-rows: repeat(1, min-content);
  }

  section.profile {
    height: auto;
    padding: var(--1-75r) var(--0-987r);
  }

  .profile .profile-about-text,
  .contact .contact-text {
    width: var(--100);
    font-size: 1.6875rem;
    line-height: 1.9875rem;
    padding-right: 1.0875rem;
  }

  .profile-about-links-list {
    margin-top: 1.875rem;
  }

  .profile .about-experience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 1.875rem;
    height: auto;
    width: var(--100);
  }

  .experience h3.about-subtitle {
    font-size: 1.2875rem;
  }

  .experience ul.about-soft-skills li,
  .experience ul.about-clients li {
    font-size: var(--1r);
    line-height: var(--1r);
    padding: var(--0-5r) 0;
  }

  .experience ul.about-hard-skills {
    gap: var(--0-57r);
  }
}