@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "DM Sans", sans-serif;
}

html,
:root {
  --0-25r: 0.25rem;
  --0-5r: 0.5rem;
  --0-57r: 0.575rem;
  --0-75r: 0.75rem;
  --0-87r: 0.875rem;
  --0-97r: 0.975rem;
  --0-987r: 0.9875rem;
  --1r: 1rem;
  --1-027r: 1.0275rem;
  --1-07r: 1.075rem;
  --1-17r: 1.175rem;
  --1-27r: 1.275rem;
  --1-48r: 1.4875rem;
  --1-5r: 1.5rem;
  --1-57r: 1.575rem;
  --1-75r: 1.75rem;
  --1-9r: 1.975rem;
  --2r: 2rem;
  --2-57r: 2.575rem;
  --2-7r: 2.75rem;
  --2-9r: 2.975rem;
  --100: 100%;
  --50: 50%;
}

.theme-dark {
  --primary-color: #202020;
  --secondary-color: #fafafa;
  --enfasis-primary-color: #000000;
  --enfasis-secondary-color: #ffffff;
  --card-color: #ffffff;
  --grey-color: #8f8f8f1a;
  --light-grey-color: #a1a1a1;
  --yellow-color: #ffff05;
  --yellow-opt: rgba(225, 255, 5, 0.7);
  --mix-blend: difference;
  --mix-blend-anti: normal;
  --invert-color: invert(1%);
  --invert-color-anti: invert(99%);
  --code-modal-color: #1517180c;
  --code-modal-shadow: #101213cf;
}

.theme-light {
  --primary-color: #fafafa;
  --header-color: #fafafa;
  --secondary-color: #202020;
  --enfasis-primary-color: #ffffff;
  --enfasis-secondary-color: #000000;
  --card-color: #ffffff;
  --grey-color: #8f8f8f1a;
  --light-grey-color: #a1a1a1;
  --yellow-color: #ffb405;
  --yellow-opt: rgb(255, 180, 5, 0.7);
  --mix-blend: difference;
  --mix-blend-anti: normal;
  --invert-color: invert(99%);
  --invert-color-anti: invert(1%);
  --code-modal-color: #f8fdfe0e;
  --code-modal-shadow: #41494d1d;
}

html {
  height: var(--100);
  scroll-behavior: smooth;
}

::selection {
  color: var(--enfasis-primary-color);
  background: var(--yellow-color);
}

body {
  margin: 0;
  padding: 0;
  min-height: var(--100);
  height: var(--100);
  box-sizing: border-box;
  font-size: var(--1r);
  font-weight: 300;
  line-height: var(--1-5r);
  transition: all 1s ease;
  background-color: var(--primary-color);
  color: var(--light-grey-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

main {
  min-width: var(--100);
  min-height: var(--100);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--1-9r) var(--1-9r) 0 var(--1-9r);
  height: var(--1-9r);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
  mix-blend-mode: var(--mix-blend);
}

header h1.logo {
  font-size: var(--1-57r);
  line-height: var(--1-57r);
  font-weight: 400;
  letter-spacing: -0.25px;
  color: var(--header-color);
  mix-blend-mode: var(--mix-blend);
}

nav {
  padding: 0;
  width: var(--50);
  mix-blend-mode: var(--mix-blend);
}

nav.navbar ul.navbar-items-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--2-9r);
}

ul.navbar-items-container li.nav-item {
  padding-top: var(--0-57r);
}

ul.navbar-items-container li.nav-item a,
.menu-trigger {
  color: var(--header-color);
  font-size: var(--0-97r);
  text-decoration: none;
  font-weight: 300;
  transition: all 150ms ease-in-out;
  opacity: 0.9;
  display: inline-block;
}

ul.navbar-items-container li.nav-item a:hover {
  opacity: 1;
  color: var(--enfasis-secondary-color);
  filter: var(--invert-color);
}

ul.navbar-items-container li.nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: var(--yellow-opt);
  transition: width 150ms ease;
  filter: var(--invert-color);
}

ul.navbar-items-container li.nav-item:hover::after {
  width: 100%;
}

ul.navbar-items-container li.nav-item-mode:last-child {
  align-self: flex-end;
  flex-grow: 1;
  text-align: end;
}

ul.navbar-items-container li.nav-item-mode:last-child button {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  padding: var(--0-25r);
}

ul.navbar-items-container li.nav-item-mode:last-child img {
  width: var(--1-027r);
  height: var(--1-027r);
  opacity: 0.8;
  filter: invert(100%);
  vertical-align: middle;
  transition: all 150ms ease;
  cursor: pointer;
}

ul.navbar-items-container li.nav-item-mode:last-child img:hover {
  opacity: 1;
  scale: 1.1;
}

.menu-trigger {
  display: none;
}

section {
  padding: var(--1-9r);
  width: var(--100);
  min-height: var(--100);
}

section.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0;
  height: 80dvh;
}

.hero-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: var(--50);
  height: 98%;
  gap: var(--0-57r);
  padding-bottom: var(--1-57r);
}

.hero-data#update {
  padding-left: var(--0-5r);
}

.hero-update-modal {
  width: calc(95% - (var(--2-9r)));
  height: auto;
  padding: var(--1-07r) var(--0-5r);
  border-radius: var(--0-25r);
  font-size: var(--0-987r);
  line-height: var(--1-48r);
  background-color: var(--code-modal-color);
  -webkit-font-variant-ligatures: contextual;
  -moz-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
  box-shadow: 5px 5px 8px var(--code-modal-shadow);
}

.code-nav {
  width: 100%;
  margin-bottom: var(--0-87r);
}

ul.code-nav-buttons {
  display: flex;
  flex-direction: row;
  gap: var(--0-5r);
  height: var(--0-987r);
}

.code-nav-button {
  width: var(--0-87r);
  height: var(--0-87r);
  border-radius: var(--50);
}

.code-nav-button:first-child {
  background-color: #ff5f55;
}
.code-nav-button:nth-child(2) {
  background-color: #ffbd2d;
}
.code-nav-button:last-child {
  background-color: #25c93f;
}

.code-text pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
  cursor: text;
  font-size: 98%;
  font-weight: 300;
  line-height: inherit;
  letter-spacing: 0.8px;
}

.code-text span {
  margin-right: 0.1px;
  display: table;
}
.code-text span.operator {
  color: #e6cd69;
}
.code-text span.prop {
  color: #54b5db;
  margin-left: var(--0-5r);
}
.code-text span.prop mark {
  background: none;
  color: #9f74c4;
}
.code-text span.prop mark.operator-mark {
  color: #e6cd69;
}
.code-text span.prop mark.number-mark {
  color: #90a959;
}
.code-text span.prop mark.boolean-mark {
  color: #236c99;
}
.code-text span.prop mark.next-value::after,
.next-value::after {
  content: ",";
  font-size: inherit;
  color: var(--secondary-color);
}
.code-text span.prop a {
  margin-left: 5px;
}
.code-text span.prop a,
.code-text span.prop a:hover,
.code-text span.prop a:visited,
.code-text span.prop a:active {
  text-decoration: underline;
  color: #9f74c4;
}

.hero-data .hero-profile-img {
  width: 22.7%;
  border-radius: 50%;
  border: 0;
  padding: 1.5em 1.025em 0.75em 1.025em;
  text-align: center;
  object-fit: contain;
  height: auto;
  aspect-ratio: 1/1;
  object-position: center;
  animation: gradientProfile 8s ease infinite alternate;
}

.hero-data .hero-profile-img-pic {
  width: var(--100);
  height: auto;
  padding: 0;
  border-radius: var(--0-25r);
  border: none;
  object-fit: cover;
  height: auto;
  aspect-ratio: 14.4/9;
  object-position: center;
}

.hero-data .pic-text-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(50% - var(--2r));
  width: calc(-webkit-fill-available);
  height: calc(var(--1-5r) * 3);
  padding-top: var(--0-25r);
  padding-bottom: var(--0-25r);
  background: linear-gradient(
    90deg,
    var(--code-modal-color) 0%,
    rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 80%, var(--code-modal-color) 100% 
  );
}

.hero-data h2.hero-profile-title-pic {
  font-size: var(--1r);
  line-height: var(--1-57r);
  letter-spacing: 0.275px;
  font-weight: 400;
  color: #ffffff;
  padding: var(--0-25r);
  flex-shrink: 1;
  text-wrap: balance;
  width: 50%;
  user-select: none;
}

/*.hero-data h2.hero-profile-title-pic::before {
  content: url("../public/img/web_profile.svg");
  display: block;
  margin-top: -0.25em;
  padding: var(--0-25r) 0 0 0;
  width: auto;
  height: auto;
}*/

.hero-data p.hero-profile-text-pic {
  color: #ffffff;
  font-size: var(--0-75r);
  line-height: var(--0-87r);
  padding: var(--0-25r);
  margin-right: -1px;
  text-shadow: 0px 1px 5px var(--grey-color);
  text-align: right;
  user-select: none;
}

.mini-hero-start {
  display: flex;
  justify-content: center;
  height: min-content;
  width: var(--100);
  order: 3;
  opacity: 0.7;
  transition: all 150ms ease-in-out;
  animation: float 1s infinite linear;
}

.mini-hero-start img {
  vertical-align: middle;
  padding: var(--0-25r);
  border: 1px solid var(--light-grey-color);
  border-radius: var(--50);
  filter: var(--invert-color);
}

.mini-hero-start:hover {
  opacity: 1;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

@keyframes gradientProfile {
  0% {
    box-shadow: 0 0 0.1em 0 var(--yellow-opt);
  }
  25% {
    box-shadow: 0 0 0.125em var(--yellow-opt);
  }
  50% {
    box-shadow: 0 0 0.125em 0.125em var(--yellow-opt);
  }
  75% {
    box-shadow: 0 0.125em 0.125em 0 var(--yellow-opt);
  }
  100% {
    box-shadow: 0.125em 0 0.125em 0 var(yellow-opt);
  }
}

.hero-data img {
  object-fit: contain;
  height: fit-content;
}

.hero-data h2.hero-profile-title {
  font-size: var(--0-87r);
  line-height: var(--1-27r);
  letter-spacing: 0.275px;
  font-weight: 400;
  color: var(--enfasis-secondary-color);
  margin-top: var(--0-25r);
}

.hero-data p.hero-profile-text {
  font-size: var(--0-87r);
  line-height: var(--0-97r);
  letter-spacing: 0.75px;
  text-wrap: pretty;
  overflow-wrap: break-word;
  hyphens: auto;
  width: calc(var(--50) + 10%);
  padding-bottom: var(--0-5r);
}

.hero-data a.hero-profile-button,
.profile-about-links-list li button {
  background-color: transparent;
  padding: var(--0-5r) var(--0-75r);
  font-size: var(--0-87r);
  line-height: var(--0-97r);
  text-decoration: none;
  color: var(--light-grey-color);
  border: none;
  border-bottom: 1px solid #8f8f8f1a;
  border-radius: none;
  transition: all 150ms ease-in-out;
}

.profile-about-links-list li a {
  border: none;
}

.hero-hard-skill-img {
  width: var(--1r);
  height: var(--1r);
  vertical-align: top;
  object-fit: scale-down;
  padding-left: var(--0-25r);
}

.hero-hard-skill-img#github,
.hard-skill-img#github_profile {
  mix-blend-mode: difference;
}

.profile-about-links-list li button {
  margin-top: -0.5em;
  cursor: pointer;
  width: 100%;
  font-size: var(--1r);
  line-height: var(--2-9r);
  text-align: start;
  background-color: transparent;
}
.hero-data a.hero-profile-button:hover,
.profile-about-links-list li button:hover,
.profile-about-links-list li button.expands-container-active:hover,
.btn-resume:hover {
  color: var(--secondary-color);
  transform: translateY(-0.15em);
}

.intro-mini-footer {
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  align-self: flex-end;
  height: min-content;
  width: var(--100);
}

.intro-mini-footer p,
.intro-mini-footer a,
.intro-mini-footer a:visited,
.mini-hero-start a,
.mini-hero-start a:visited {
  font-size: var(--0-75r);
  line-height: var(--0-97r);
  letter-spacing: -0.575px;
  color: var(--light-grey-color);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.intro-mini-footer a:hover,
.mini-hero-start a:hover {
  color: var(--enfasis-secondary-color);
  scale: 1.01;
}

section.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: var(--1-27r);
  padding-top: var(--2-7r);
  background: var(--secondary-color);
  height: auto;
  overflow-y: auto;
  overflow-x: auto;
}

#projects {
  border-radius: var(--0-57r) var(--0-57r) 0 0;
}

#works {
  border-radius: 0 0 var(--0-57r) var(--0-57r);
}

section h2.section-title,
section h2.section-title-invert {
  font-size: var(--1-57r);
  line-height: var(--1-57r);
  font-weight: 400;
  letter-spacing: -0.25px;
}

section h2.section-title {
  color: var(--enfasis-secondary-color);
}

section h2.section-title-invert {
  color: var(--primary-color);
}

.projects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--0-57r);
  padding: 0;
  position: relative;
  overflow-y: auto;
  overflow-x: auto;
  width: var(--100);
  height: var(--100);
}

.projects-list::-webkit-scrollbar {
  height: var(--0-57r);
}
.projects-list::-webkit-scrollbar-thumb,
.projects-list::-webkit-scrollbar-track {
  border-radius: var(--1-48r);
}
.projects-list::-webkit-scrollbar-thumb {
  background: var(--yellow-color);
}
.projects-list::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

a.project-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  align-self: start;
  flex-basis: calc(33.56666% - var(--0-57r));
  height: 100%;
  aspect-ratio: 0.8077777777777778 / 1;
  gap: 0;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  text-decoration: none;
  border-radius: var(--0-25r);
  color: var(--secondary-color);
  filter: grayscale(0.1) brightness(0.95);
  transition: all 150ms ease-in-out;
}

a.project-link:hover {
  color: var(--enfasis-secondary-color);
  filter: grayscale(0) brightness(1.1) contrast(1.1);
  mix-blend-mode: luminosity;
  scale: 0.99;
  border-radius: var(--1-48r);
}

.project-image {
  width: var(--100);
  height: var(--100);
  border-radius: inherit;
  display: contents;
  pointer-events: none;
}

.project-image img {
  pointer-events: none;
  user-select: none;
  display: block;
  width: var(--100);
  height: var(--100);
  border-radius: inherit;
  object-position: center;
  object-fit: cover;
  overflow: hidden;
  transition: all 100ms ease;
}

.project-info {
  align-items: flex-start;
  display: flex;
  flex: 1 0 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  height: var(--100);
  justify-content: space-between;
  overflow: visible;
  padding: var(--1-27r);
  position: absolute;
  top: 0;
  left: 0;
  width: var(--100);
  opacity: 0;
}

.project-info:hover {
  opacity: 1;
}

.project-info h3.project-title {
  font-size: var(--1-17r);
  line-height: var(--1-17r);
  letter-spacing: 0.375px;
  font-weight: 500;
  color: var(--card-color);
  text-shadow: #0000003c 1px 1px 2px;
}

.project-info span.project-subtitle {
  display: table;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: var(--0-25r);
  padding: var(--0-25r) var(--0-5r);
  border-radius: var(--0-25r);
  font-size: var(--0-87r);
  line-height: var(--0-97r);
  font-weight: 300;
  color: var(--card-color);
  text-shadow: none;
}

.view-github {
  display: flex;
  align-self: flex-end;
  position: absolute;
}

.github-project,
.behance-project,
.figma-project {
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: transform 150ms ease-in-out;
}

.github-project {
  width: 2em;
  height: 2em;
}

.behance-project {
  width: 2.75em;
  height: 2.75em;
  padding: 0;
  margin-top: -5px;
}

.figma-project {
  width: 2.025em;
  height: 2.025em;
  padding: 0;
  margin-top: 2.5px;
}

.github-project:hover,
.behance-project:hover,
.figma-project:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 4px var(--yellow-color));
}

.project-info-sub {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--0-25r);
  width: var(--100);
  height: var(--100);
  filter: none;
}

.project-info-sub h4.project-category {
  font-size: var(--1-07r);
  line-height: var(--1-07r);
  letter-spacing: 0.075px;
  font-weight: 500;
  color: var(--card-color);
  text-shadow: #0000003c 1px 1px 2px;
}

.project-info-sub ul.project-tags {
  display: flex;
  flex-direction: row;
  width: var(--100);
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.275rem;
}

.project-info-sub ul.project-tags li {
  background-color: rgba(0, 0, 0, 0.25);
  padding: var(--0-25r) var(--0-5r);
  border-radius: var(--0-25r);
  border: 1px solid #a1a1a1d6;
  font-size: var(--0-87r);
  line-height: var(--0-97r);
  font-weight: 300;
  color: var(--card-color);
}

section.contact {
  display: flex;
  justify-content: center;
  gap: var(--2-57r);
}

section.profile {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 85dvh;
  gap: 0;
}

section.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: var(--100);
  height: 45dvh;
}

.profile .profile-about-info,
.projects .works-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--2-57r);
  width: var(--50);
  height: var(--100);
}

.projects .works-info {
  padding-bottom: var(--2-57r);
}

.projects .works-info {
  width: calc((33.56666% * 2) - var(--0-57r));
}
.profile .profile-about-info#accordion {
  margin-top: calc((var(--2-57r)) + (var(--1r)));
}

.profile .profile-about-text,
.contact .contact-text,
.work-description-text {
  font-size: var(--1-57r);
  line-height: var(--1-9r);
  letter-spacing: -0.25px;
  width: var(--100);
  text-indent: var(--2-57r);
  text-wrap: balance;
  padding-right: var(--2-9r);
  padding-left: var(--0-25r);
}

.profile .profile-about-text,
.contact .contact-text {
  color: var(--secondary-color);
}

.contact .contact-text {
  width: var(--50);
}

.contact .contact-text a {
  color: var(--light-grey-color);
  text-decoration: none;
  transition: all 150ms ease;
}

.contact .contact-text a:hover {
  color: var(--enfasis-secondary-color);
}

.profile-about-links-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.experience {
  width: var(--100);
  padding: var(--0-57r);
}
.profile-about-links-list {
  gap: var(--0-57r);
}

.profile-about-links-list a {
  border: 1px solid var(--grey-color);
}

.experience ul.about-soft-skills li,
.experience ul.about-hard-skills li span,
.experience ul.about-clients li {
  font-size: var(--0-87r);
  line-height: var(--0-97r);
  padding: var(--0-25r) 0;
  color: var(--secondary-color);
}

.experience ul.about-soft-skills li::after {
  content: ",";
  margin-right: var(--0-25r);
}

.experience ul.about-clients li a {
  text-decoration: none;
  color: var(--secondary-color);
  display: inline-block;
  font-size: var(--0-87r);
}

.experience ul.about-clients li a::after {
  content: "";
  display: block;
  width: 0;
  height: 0.5px;
  background: var(--yellow-color);
  transition: width 0.3s;
}

.experience ul.about-clients li a:hover::after {
  width: 100%;
}

.experience ul.about-clients li a span.client-since {
  color: var(--yellow-color);
  font-weight: 400;
  padding-right: var(--0-25r);
  font-size: 0.775rem;
  vertical-align: middle;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: var(--1r);
}

.experience .skills-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--0-5r);
  height: min-content;
  padding-bottom: 0;
  margin-block-end: 0;
  margin-bottom: 0;
}

.experience h3.about-subtitle {
  font-size: var(--0-87r);
  color: var(--yellow-color);
  line-height: var(--1-57r);
  letter-spacing: -0.275px;
  font-weight: 300;
}

.footer-container .footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.275rem;
}

.experience ul.about-soft-skills,
.experience ul.about-hard-skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.profile .about-experience {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-end;
  gap: 1.25rem;
  height: calc(var(--50) - 5%);
  width: var(--100);
}

.profile .about-experience .about-expand-container,
.profile .about-experience .about-expand-container-active {
  width: var(--100);
}

.profile .about-experience .about-expand-container p {
  text-wrap: balance;
  font-size: var(--0-97r);
  color: var(--secondary-color);
}

.experience ul.about-hard-skills li.hard-skill-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--0-5r);
  width: var(--2-57r);
  height: var(--2-57r);
  padding: var(--0-25r);
  text-align: center;
}

.experience ul.about-hard-skills li.hard-skill-item img {
  width: calc(var(--100) - var(--0-25r));
  height: auto;
  vertical-align: middle;
}

footer {
  display: flex;
  flex-direction: column;
  width: var(--100);
  padding: var(--1-9r);
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--2-9r);
}

.footer-container .footer-links li a {
  font-size: var(--1r);
  line-height: var(--1r);
  padding: var(--0-5r) 0;
  font-weight: 400;
  color: var(--light-grey-color);
  text-decoration: none;
  transition: all 150ms ease;
}

.footer-container .footer-links li a:hover {
  color: var(--enfasis-secondary-color);
  cursor: pointer;
}

ul.footer-links#credits {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: var(--0-5r);
}

.footer-links#credits li {
  font-size: var(--0-75r);
  line-height: var(--0-97r);
  letter-spacing: -0.575px;
  font-weight: 300;
  text-align: end;
  padding-right: var(--0-25r);
}

.footer-links#credits li:first-child::after {
  content: ", ";
  padding-right: 0.025rem;
}

.footer-links#credits li:nth-last-child(2)::after {
  content: ". ";
  padding-right: 0.025rem;
}

/* responsive mobile */

@media (max-width: 809px) and (min-width: 0px) {
  header {
    padding: var(--1-48r) var(--0-987r);
  }

  .header-open {
    background-color: var(--primary-color);
    mix-blend-mode: normal;
  }

  .header-close {
    background-color: transparent;
    mix-blend-mode: var(--mix-blend);
  }

  nav {
    width: auto;
  }

  nav.navbar ul.navbar-items-container.is-close {
    display: none;
  }

  nav.navbar ul.navbar-items-container.is-open {
    position: absolute;
    top: var(--2-9r);
    left: 0;
    padding: calc((100dvh - 29rem) / 2) var(--0-987r);
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    align-items: center;
    gap: var(--2-9r);
    width: var(--100);
    z-index: 900;
    height: 100dvh;
    background-color: var(--primary-color);
  }

  ul.navbar-items-container li.nav-item a {
    font-size: var(--1-9r);
    width: var(--100);
    color: var(--enfasis-secondary-color);
  }

  ul.navbar-items-container li.nav-item a:hover {
    color: var(--yellow-opt);
  }

  .menu-trigger {
    display: flex;
    align-self: flex-end;
    color: var(--enfasis-secondary-color);
    cursor: pointer;
    filter: var(--invert-color);
  }

  .menu-trigger:hover {
    color: var(--yellow-color);
  }

  ul.navbar-items-container li.nav-item-mode:last-child {
    align-self: center;
    text-align: center;
  }
  ul.navbar-items-container li.nav-item-mode:last-child img {
    filter: var(--invert-color-anti);
    width: 2rem;
    height: 2rem;
  }

  section {
    padding: var(--1-48r) var(--0-987r);
  }

  section.intro {
    justify-content: center;
    height: auto;
    gap: var(--1-07r);
    padding: var(--1-48r) var(--0-987r);
  }

  .hero-data {
    width: var(--100);
    gap: 0;
    justify-content: flex-start;
  }

  .hero-data#pic {
    order: 1;
    max-height: calc(max(min(550px, 67dvh), 225px)) !important;
    height: 100%;
    padding-top: 0;
  }

  @-moz-document url-prefix() {
    .hero-data#pic {
      max-height: calc(max(min(450px, 62.5dvh), 200px)) !important;
    }
  }

  .mini-hero-start {
    order: 2;
    padding-bottom: var(--0-25r);
  }

  .hero-data#update {
    order: 3;
    padding: 0;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .hero-data .hero-profile-img-pic {
    aspect-ratio: 1 / 1;
  }

  .hero-data .pic-text-container {
    position: relative;
    bottom: 70px;
    width: var(--100);
    height: fit-content;
  }

  .hero-data h2.hero-profile-title-pic {
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--secondary-color);
    font-size: var(--0-87r);
    line-height: var(--0-97r);
    padding: var(--0-5r);
    border-radius: 0 0 0 var(--0-25r);
    text-shadow: 0px 1px 5px var(--grey-color);
  }

  .hero-data p.hero-profile-text-pic {
    padding: var(--0-57r);
    margin: 0;
    width: fit-content;
    height: 100%;
  }

  .code-text pre {
    word-wrap: break-word;
    white-space: normal;
    word-break: break-all;
  }

  .hero-update-modal {
    -webkit-font-variant-ligatures: normal;
    -moz-font-variant-ligatures: normal;
    font-variant-ligatures: normal;
  }

  .intro-mini-footer {
    order: 1;
  }

  .hero-update-modal {
    width: 100%;
  }

  .hero-data .hero-profile-img {
    width: calc(var(--100) - 55%);
    padding: 1.75em 1.025em 0.25em 1.025em;
  }

  .hero-data img {
    height: auto;
    aspect-ratio: 1/1;
  }

  .hero-data h2.hero-profile-title {
    font-size: calc(var(--1-27r) + 0.1rem);
    line-height: var(--1-75r);
  }

  .hero-data p.hero-profile-text {
    text-wrap: pretty;
    /*width: calc(var(--100) - 10%);*/
    text-align: center;
    font-size: var(--1r);
    line-height: 1.2875rem;
  }

  .hero-data a.hero-profile-button,
  .profile-about-links-list a {
    font-size: var(--1r);
  }

  section.projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--1-27r);
    padding: var(--1-75r) var(--0-987r);
    background: var(--secondary-color);
    height: auto;
  }

  .projects-list {
    display: grid;
    flex: none;
    gap: var(--1r);
    grid-auto-rows: min-content;
    grid-template-columns: repeat(1, minmax(10rem, 1fr));
    grid-template-rows: repeat(1, min-content);
  }

  a.project-link {
    width: 100%;
    flex-basis: 100%;
  }

  section.profile {
    height: auto;
    padding: var(--1-75r) var(--0-987r);
    flex-direction: column;
  }

  .profile .profile-about-info,
  .projects .works-info {
    width: var(--100);
  }

  .profile .profile-about-info#accordion {
    margin-top: 0;
  }

  .profile .profile-about-text,
  .work-description-text {
    width: var(--100);
    font-size: var(--1-5r);
    line-height: var(--1-75r);
    padding-left: var(--0-5r);
    padding-right: var(--0-57r);
  }

  .profile .about-experience .about-expand-container {
    width: var(--100);
  }

  .profile-about-links-list {
    margin-top: 1.875rem;
  }

  .profile .about-experience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 1.875rem;
    height: auto;
    width: var(--100);
  }

  .experience h3.about-subtitle {
    font-size: 1.2875rem;
  }

  .experience ul.about-soft-skills li,
  .experience ul.about-clients li {
    font-size: var(--0-87r);
    line-height: var(--0-97r);
    padding: var(--0-5r) 0;
  }

  .experience ul.about-hard-skills {
    gap: var(--0-57r);
    width: var(--100);
    flex-direction: column;
  }

  footer {
    overflow-x: hidden;
    padding: var(--1-48r) var(--0-987r);
  }

  .contact .contact-text {
    width: var(--100);
    font-size: 1.4875rem;
    line-height: 1.6875rem;
  }
}
